* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#canvas-board {
    display: flex;
    justify-content: center;
    width: 960px;
    height: 640px;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
/* #canvas-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative; */
/* } */
.enemy {
    width: 32px;
    height: 32px;
    background-color: red;
    position: absolute;
}